.error {
		color: red;
	}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.thinBorder {
    border: thin solid #ddd;
}

.top {
    vertical-align: top;
}

.fakelink {
    color: #049cdb;
    cursor: pointer;
}

.table-row-hover {
    background-color: #f5f5f5;
}

.table-row-odd {
    background-color: #f9f9f9;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.loginBox {
	background-color: #fff; 
	border: 1px solid #ddd; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	padding-bottom:15px;
	margin-left: auto; margin-right: auto;
	width: 440px;
	float: none;
}

.box {
	background-color: #fff; 
	border: 1px solid #ddd; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	padding: 15px 15px 15px 15px;
}

.lightGreyBackground {
	background-color: #f5f5f5;
}

.height60 {
	height: 60px;
}

.height20 {
	height: 20px;
}

.padding15 {
	padding: 15px;
}